<div class="content-footer">
    <div class="container">
        <div class="row mt-4">
            <div class="col-sm-12 col-md-5" >
                <!-- <h1>euodo<span style="color: #A02EA2;">รณ</span><br/>
                technologies</h1> -->
                <img src="/assets/images/euodoo_white.png" alt="footer-logo" style="width: 60%">
            </div>

          <div class="col-xs-6 col-md-6 mb-5">
            <h6 class="mt-4">Address</h6>
            <p>
                10/F One Global Place 25th Street cor. 5th Avenue Bonifacio Global City, Taguig 1632 Philippines
            </p>
            <h6 class="mt-4">Contacts</h6>
            <p>
                Email: customercare@euodoo.com.ph <br/>
                Tel: +632-7088-7101+63-960-471-9671
            </p>
          </div>

        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <h5 style="margin-left: 4%;">Social Links</h5>
            <ul class="social-icons mt-4">
                <li><a class="facebook" href="https://www.facebook.com/profile.php?id=100083241621066"><i class="fab fa-facebook"></i></a></li>
                <li><a class="twitter" href="https://twitter.com/EuodooTech"><i class="fab fa-twitter"></i></a></li>
                <li><a class="linkedin" href="https://www.linkedin.com/company/euodoo-technologies-inc/mycompany/"><i class="fab fa-linkedin"></i></a></li>   
                <li><a class="youtube" href="https://www.youtube.com/@euodootech"><i class="fab fa-youtube"></i></a></li>   
                <li><a class="tiktok" href="https://www.tiktok.com/@euodootechnologies?lang=en"><i class="fab fa-tiktok"></i></a></li>   
                <li><a class="instagram" href="https://www.instagram.com/euodootechinc/"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.6/css/jquery.dataTables.min.css"> -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="new-correct-integrity-value" crossorigin="anonymous">
<!-- <script src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.min.js"></script> -->

