<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head')%>
    </head>
    <body>

        <main class="container" style="padding-top: 0; margin-top: 8%; margin-bottom: 8%;">
            <div class="cont no-sidebar">
                <img class="center errorimg" src="/assets/images/internal_service.png" style="width: 53%">
                <div class="error-message">
                    <h1 class="text-center">Whoops! Looks like this page got lost in conversation.</h1>
                    <h4 class="text-center mt-4" style="font-weight: normal;" >We’re not quite sure what went wrong.  If you need help, you can reach us at our <a class="sample-file" href="/help&support">Help Center</a>, where our customer service representative will be there to guide you.</h4>
                </div>
                
            </div>
        

            
        </main>
    </body>

</html>