<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head')%>
    </head>
    <body>

        <main class="container" style="padding-top: 0; margin-top: 5%; margin-bottom: 8%;">
            <div class="cont no-sidebar">
                <img class="center errorimg" src="/assets/images/error_page.png" style="width: 53%">
                <div class="error-message">
                    <h1 class="text-center">Whoops! 404 Page Not Found</h1>
                    <h4 class="text-center mt-4" style="font-weight: normal;" > Looks like the page you are trying to access is no longer available. Instead, please try our <a class="sample-file" href="/">homepage</a> or <a class="sample-file" href="/help&support">help center</a> if you need assistance.</h4>
                </div>
                
            </div>
        

            
        </main>
    </body>

</html>